/*  TEXT INPUT GROUP  */

.dd__splitted-group {
  display: flex;
  align-items: center;

  & > .dd__splitted-item {
    margin: 0;
  }

  & > .dd__splitted-item:first-child:not(:last-child), & > .dd__splitted-item:first-child:not(:last-child) > input {
    border-right-color: transparent;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  & > .dd__splitted-item:last-child:not(:first-child), & > .dd__splitted-item:last-child:not(:first-child) > input {
    border-left-color: transparent;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
  }

  & > .dd__splitted-item:not(:first-child):not(:last-child), & > .dd__splitted-item:not(:first-child):not(:last-child) > input {
    border-right-color: transparent;
    border-left-color: transparent;
    border-radius: 0;
  }

  &.dd__splitted-group--default {
    .dd__input {
      flex-grow: 1;
    }
    .btn {
      min-width: 120px;
    }
  }
}

/* Poll Option */

.dd__splitted-group.dd__poll__option {

  .dd__input.dd__input-icon {
    min-width: 400px;

    & > .dd__icon-draghandle {
      font-size: 19px;
    }

  }

  .btn.btn--default {
    min-width: 44px;
    background-color: @athens-gray;
    border: 1px solid @gainsboro;

    .dd__icon {
      font-size: 10px;
      line-height: 2.5em !important;
    }

  }

}

/* List Filter */

.dd__splitted-group.dd__list__filter {
  .btn {
    font-size: 12px;
    font-weight: normal;
    border: 1px solid @submarine;

    &:not(:first-child) {
      border-left-color: @submarine;
    }

    &:active, &.active {
      color: @white;
      background-color: @dark-slay;
      border-color: @dark-slay;

      & + .btn {
        border-left-color: transparent;
      }
    }
  }
}

