.dd__tabs {
    display: flex;
    flex-grow: 0;
    align-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;

    .dd__tab-item {
        text-align: center;
        display: block;

        a {
            display: block;
            width: 100%;
            height: 100%;
            background: @athens-gray;
            color: @gray;
            padding: 16px 50px;
            box-sizing: border-box;
            text-decoration: none;
            border-right: 1px solid @gainsboro;
            border-top: 1px solid @gainsboro;
            border-bottom: 1px solid @gainsboro;
            position: relative;
            z-index: 100;
        }

        &.active a {
            border-bottom: none;
            color: @limed-spruce;
            background: @white;
            border-bottom: 0;
        }

    }

    .dd__tab-item:first-child a {
        border-left: 1px solid @gainsboro;
        border-top-left-radius: 4px;
    }

    .dd__tab-item:last-child a {
        border-top-right-radius: 4px;
    }

}

.dd__tabs--full__width .dd__tabs{
    justify-content: space-around;   

    .dd__tab-item {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 100%;

        a {
            padding: 16px 0;
        }

    }

}

.dd__tab-content {
    position: relative;
    top: -1px;
    border: 1px solid @gainsboro;
    padding: 20px;

    .dd__content-item {
        display: none;

        &.active {
            display: flex;
        }

    }

}