.icon {
    line-height: 1.15 !important
}

.icon-arrow-up {
    transform: rotate(90deg);
    display: inline-block;
}

.icon-arrow-right {
    transform: rotate(180deg);
    display: inline-block;
}

.icon-arrow-down {
    transform: rotate(270deg);
    display: inline-block;
}