form {
    width: 100%;
}

/* Checkboxes */

@labelMargin: 30px;

.dd__checkbox {

    position: relative;

    &:focus {
        outline: 0;
        .checkbox__body {
            outline: 0;
            border-color: @shakespeare;
            box-shadow: 0 0 10px @shakespeare;
        }
    }

    .checkbox__body {
        background: #FFFFFF;
        border: 1px solid @submarine;
        border-radius: 4px;
        width: 20px;
        height: 20px;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0;
        right: auto;
        transform: translateY(-50%);
        box-sizing: border-box;
    }

    &.checked .checkbox__body {
        border: 1px solid @shakespeare;
        background: @shakespeare;
        color: #FFF;

        &::before {
            box-sizing: border-box;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
            left: 7px;
            top: 2px;
            display: table;
            width: 5px;
            height: 12px;
            border-width: 2px;
            border-style: solid;
            border-top: 0;
            border-left: 0;
            content: '';
        }

    }

    .checkbox__label {
        color: @gray;
        box-sizing: border-box;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        white-space: normal;
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
        max-width: calc(~"100% - "@labelMargin);
        margin-left: @labelMargin;
        margin-right: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &.checked .checkbox__label {
        color: @river-bed;
    }

}

/* Inputs */

@input-height: 44px;
@textarea-height: 80px;

.lable {

    .font-face(600, 15px);
    color: @limed-spruce;
    margin-bottom: 8px;

    span {
        .font-face(300, 14px);
        color: @gray;
        margin-left: 8px;
    }

}

.dd__input {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px;
    position: relative;
    
    .dd__icon {
        position: absolute;
        left: 0;
        width: 37px;
        text-align: center;
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .limit-indicator {
        position: absolute;
        right: 15px;
        top: 15px;
    }

    input {
        border: 1px solid @gainsboro;
        border-radius: 4px;
        width: 100%;
        height: @input-height;
        outline: none;
        color: @limed-spruce;   
        border: 1px solid #ccc;
        overflow: hidden;
        padding: 0 15px 0 15px;
        font-weight: 300;
        box-sizing: border-box;

        &::-webkit-input-placeholder {
            color: @silver;
        }

        ::-moz-placeholder {
            color: @silver;
        }
        
        :-moz-placeholder {
            color: @silver;
        }
        
        :-ms-input-placeholder {
            color: @silver
        }

        // &:focus {
        //     border-color: @shakespeare;
        // }

        &.ng-invalid:not(.ng-pristine) {
            border-color: @guardsman-red;
        }

    }

    .input__message {
        display: none;
        margin-top: 6px;
        text-transform: uppercase;
        font-size: 11px;
        color: @guardsman-red;
        font-weight: 600;
    }

    .ng-invalid:not(.ng-pristine) ~ .input__message {
        display: block
    } 

    &.dd__limit input {
        padding: 0 43px 0 15px;
    }

    &.dd__input-icon input { 
        padding-left: 35px;
    }

}



.dd__textarea {
    display: flex;
    position: relative;
    min-height: @textarea-height;
    margin: 0 0 20px;

    .text-limit-wrapper {
        display: flex;
    }

    textarea {
        border: 1px solid #dedede;
        border-radius: 4px;
        width: 100%;
        outline: none;
        color: @limed-spruce;   
        padding: 15px;
        font-weight: 300;
        box-sizing: border-box;
        resize: none;

        &::-webkit-input-placeholder {
            color: @silver;
        }

        ::-moz-placeholder {
            color: @silver;
        }
        
        :-moz-placeholder {
            color: @silver;
        }
        
        :-ms-input-placeholder {
            color: @silver
        }

    }

}