form {
    width: 100%;
}

/* Checkboxes */

.dd__checkbox {

    position: relative;

    .checkbox__body {
        background: #FFFFFF;
        border: 1px solid @submarine;
        border-radius: 4px;
        width: 20px;
        height: 20px;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0;
        right: auto;
        transform: translateY(-50%);
        box-sizing: border-box;
    }

    &.checked .checkbox__body {
        border: 1px solid @shakespeare;
        background: @shakespeare;
        color: #FFF;

        &::before {
            box-sizing: border-box;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
            left: 7px;
            top: 2px;
            display: table;
            width: 5px;
            height: 12px;
            border-width: 2px;
            border-style: solid;
            border-top: 0;
            border-left: 0;
            content: '';
        }

    }

    .checkbox__label {
        color: @gray;
        box-sizing: border-box;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        white-space: normal;
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
        margin-left: 30px;
        margin-right: 0;
    }

    &.checked .checkbox__label {
        color: @river-bed;
    }

}

/* Inputs */

@input-height: 44px;
@textarea-height: 80px;

.lable {

    .font-face(600, 15px);
    color: @limed-spruce;
    margin-bottom: 8px;

    span {
        .font-face(300, 14px);
        color: @gray;
        margin-left: 8px;
    }

}

.dd__input {
    display: flex;
    align-items: center;
    height: @input-height;
    border-radius: 4px;
    border: 1px solid @gainsboro;
    margin: 0 0 20px;
    overflow: hidden;
    color: @silver;
    
    .icon {
        margin-left: 10px;
    }

    .text-limit-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 10px;
    }

    .limit-indicator {
        position: relative;
        bottom: auto;
    }

    input {
        width: 100%;
        height: @input-height;
        outline: none;
        color: @limed-spruce;   
        border: none;
        padding: 0 10px;
        font-weight: 300;
        box-sizing: border-box;

        &::-webkit-input-placeholder {
            color: @silver;
        }

        ::-moz-placeholder {
            color: @silver;
        }
        
        :-moz-placeholder {
            color: @silver;
        }
        
        :-ms-input-placeholder {
            color: @silver
        }

    }
}

.dd__textarea {
    display: flex;
    height: @textarea-height;
    border-radius: 4px;
    border: 1px solid @gainsboro;
    margin: 0 0 20px;
    overflow: hidden;
    color: @silver;

    textarea {
        width: 100%;
        outline: none;
        color: @limed-spruce;   
        border: none;
        padding: 10px;
        font-weight: 300;
        box-sizing: border-box;
        resize: none;

        &::-webkit-input-placeholder {
            color: @silver;
        }

        ::-moz-placeholder {
            color: @silver;
        }
        
        :-moz-placeholder {
            color: @silver;
        }
        
        :-ms-input-placeholder {
            color: @silver
        }

    }

}