<div class="timestamps-range">
  <span class="bold"><timestamp date="vm.start" timezone="vm.tz" format="vm.dateFormat"></timestamp></span>
  <timestamp ng-if="vm.isTimeFormat" date="vm.start" timezone="vm.tz" format="vm.startTimeFormat"></timestamp>
  <span ng-if="vm.end">
    <span>&#8211;</span>
    <span ng-if="!vm.isTimeFormat || !vm.isSameDate" class="bold"><timestamp date="vm.end" timezone="vm.tz" format="vm.dateFormat"></timestamp></span>
    <timestamp ng-if="vm.isTimeFormat" date="vm.end" timezone="vm.tz" format="vm.endTimeFormat"></timestamp>
  </span>
</div>
