<div class="date-range-picker">
    <div class="date-range-picker-title" ng-bind="vm.title"></div>

    <div class="date-range-picker-date-btn-group"
         ng-class="{'date-range-picker-active-left': vm.selectedDate === vm.dateInputs.FIRST,
                    'date-range-picker-active-right': vm.selectedDate === vm.dateInputs.SECOND}">
        <span class="date-range-picker-date date-range-picker-date-left" ng-bind="vm.range.start.toDate() | date: 'MM/dd/yyyy'" ng-click="vm.onDateClick(vm.dateInputs.FIRST)"></span>
        <span>&rarr;</span>
        <span class="date-range-picker-date date-range-picker-date-right" ng-bind="vm.range.end.toDate() | date: 'MM/dd/yyyy'" ng-click="vm.onDateClick(vm.dateInputs.SECOND)"></span>
    </div>
    <div  ng-class="{'date-range-picker-popover-closed': !vm.opened}" class="date-range-picker-popover">
        <div class="date-range-picker-popover-arrow">
        </div>
        <ob-daterangepicker
                min-day="vm.minDate"
                max-day="vm.maxDate"
                linked-calendars="vm.linked"
                first-day-change="vm.firstDaySelected(days)"
                second-day-change="vm.secondDaySelected(days)"
                range="vm.range"
                static="vm.eventDurationRange"
                api="vm.dateRangeApi"
                turn="vm.turn">
        </ob-daterangepicker>
        <div class="date-range-picker-popover-footer">
            <ng-transclude></ng-transclude>
        </div>
    </div>
</div>
