html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: rgba(0, 0, 0, 0.05);
    background-image: repeating-linear-gradient(0deg, transparent, transparent 7px, rgba(0, 0, 0, 0.2) 1px, transparent 8px), repeating-linear-gradient(90deg, transparent, transparent 7px, rgba(0, 0, 0, 0.2) 1px, transparent 8px);
    background-size: 15px 15px;
}

.tooltip__demo {
    margin: 20px;
    background: #fff;
    text-align: center;
    width: 200px;
    padding: 20px;
}