<div class="style__guide">
  <div class="title">Toggle group</div>

  <div class="subtitle">Simple toggle group</div>
  <div class="block row">
    <div class="dd__label">Toggle group label</div>
    <div class="dd__toggle__group">
      <div class="dd__toggle__group__item">
        <div class="dd__toggle__group__item__body">
          <h6 class="dd__toggle__group__item__heading">Toggle option 1</h6>
          <p class="dd__toggle__group__item__text">Some info about this toggle option</p>
        </div>
        <toggle ng-model="vm.test1"></toggle>
      </div>
      <div class="dd__toggle__group__item">
        <div class="dd__toggle__group__item__body">
          <h6 class="dd__toggle__group__item__heading">Toggle option 2</h6>
          <p class="dd__toggle__group__item__text">Some info about this toggle option</p>
        </div>
        <toggle ng-model="vm.test2"></toggle>
      </div>
      <div class="dd__toggle__group__item">
        <div class="dd__toggle__group__item__body">
          <h6 class="dd__toggle__group__item__heading">Toggle option 3</h6>
          <p class="dd__toggle__group__item__text">Some info about this toggle option</p>
        </div>
        <toggle ng-model="vm.test3"></toggle>
      </div>
    </div>
  </div>
</div>
