.text-limit-wrapper {
    position: relative;
}

.limit-indicator {
    position: absolute;
    right: 0;
    bottom: 3px;
    color: #71BF44;
}

textarea + .limit-indicator {
    bottom: 10px;
    right: 15px;
}
